extends base.jade

block content
  .hero-unit.desugaala-banner
    h1 Urna Poli
    p Primeiro Parágrafo de texto.
    p Você poderá votar para:
    ul
      for category, options in categories_options
        li {{ category.title }}

  if DEMO_MODE
    .hero-unit
      h2 Projeto experimental!
      p Este é um ambiente de votação experimental, 
        | desenvolvido para rodar em um raspberry pi e utilizando um
        | leitor de cartões RFID para autenticação.
      p Seu desenvolvimento se deu na disciplina PCS2498
        tt Laboratório de Processadores II
        | ministrada na 
        tt Escola Politécnica da Universidade de São Paulo,
        | sob orientação do Prof. André Hirakawa.

  #vote-page
    // hack for scrolling
    #login

    .hero-unit
      h2 Autentique-se no sistema!
      p
        | Para votar você deve se autenticar.
      p
        | A autenticação pode ser realizada com sua carterinha USP ou com seu login 'USP Digital'.
      p
        | Passe sua carterinha no leitor, ou digite seu nusp e senha, e clique em entrar.

      #login-form
        div {{ login_form }}
        button.btn.btn-large.btn-primary#login-button Entrar

      .already-voted.error
        i.icon-warning-sign
        |  Você já votou.

      .login-failed.error
        i.icon-warning-sign
        | Falha de Autenticação. Verifique seu nome de usuáro e senha.

      .login-ok.triumph
        i.icon-ok
        | Login realizado com sucesso. Agora você pode votar!

    .hero-unit
      h2 Participe!
      p Arraste suas opções para cima da barra vermelha. As opções que ficarem abaixo da barra não recebem voto, as opções que ficarem acima da barra recebem voto.
      p.muted.small
        | Os votos são contabilizados usando o 
        a(href="http://en.wikipedia.org/wiki/Schulze_method") método Schulze
        | .

    .login-ok
      for category, options in categories_options
        .hero-unit.category-wrap {{ category.render }}

    .login-ok.hero-unit
      h2 Enviar

      p Acima estavam todas as opções para votar. Envie seu voto pressionando o botão Enviar.

      #not-logged-in.error
        i.icon-warning-sign
        |  Você ainda não está logado.
        a(href='#login') Entrar

      .already-voted.error
        i.icon-warning-sign
        |  Você já votou antes.

      button.btn.btn-large.btn-primary#send-button Enviar

  #thanks-page
    .hero-unit
      h2 Obrigado por participar!
      p Seu voto foi recebido, Obrigado por votar.
      p Os resultados serão divulgados ao final do processo.

  #oops-page
    .hero-unit
      h2 Ops!
      p Algo errado aconteceu com seu voto e ele não pode ser registrado.
      p Por favor, tente novamente em instantes.
      p 
        | Se o erro persistir, entre em contato consoco.
        <!-- a(href='https://twitter.com/ssspaju', target='_blank') Japsulle -->
        | .
