extends base

block content
  h1 Situação atual

  table.table
    tbody
      tr
        th Atualizado em
        td {{ timestamp|date:"DATETIME_FORMAT" }} (atualizado a cada 5 minutos)
      tr
        th Total de votos
        td {{ num_votes }} votos

  h2 Tilanne sarjoittain

  table.table.table-striped
    thead
      th Cargo
      th Votos
      th Liderança atual
    tbody
      for category, winner, tied_winners, category_num_votes in categories
        tr
          th {{ category.title }}
          td {{ category_num_votes }} voto(s)
          td
            if tied_winners
              | Jaettu voitto:
              ul
                for tied_winner in tied_winners
                  li {{ tied_winner.title }}
            elif winner
              | {{ winner.title }}

  h2 Parivertailu

  table.table.table-striped.pairs-table
    thead
      tr: td(colspan=3) Kustakin parista ilmoitetaan, kuinka moni piti yhtä parempana kuin toista ja päin vastoin. Jos haluat parivertailuun lisää pareja, pyydä niitä Japsulta.
    tbody
      for category, options in watches
        tr: th(colspan=3, style='background-color: white; border-top: none') {{ category.title }}
        for option, num_votes, percentage in options
          tr
            td.title {{ option.title|truncatewords:4 }}
            td.votes {{ num_votes }} voto(s)
            td.palks
              div(class='progress {% cycle "progress-success" "" %}')
                .bar(style='width: {{ percentage }}%')
        tr: th(colspan=3) &nbsp;
